[Desktop Entry]
Version=1.0
Name=Clip
Comment=Screenshot selection to clipboard
Exec=bash -c "sleep 0.1; exec omarchy-capture-screenshot smart slurp"
Terminal=false
Type=Application
Icon=/home/mandark/.local/share/applications/icons/Clip.png
StartupNotify=false
